<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        document.addEventListener('contextmenu', (e) => { e.preventDefault() });
        document.addEventListener('keydown', (e) => {
            if (e.key === 'F12' || e.key === 'Control' || e.key === 'Escape' || e.key === 'Alt' || e.key === 'Meta' || e.key === 'Shift' || e.key === 'c' || e.key === 'v' || e.key === 'x') {
                e.preventDefault();
            }
        });
    </script>
 
</head>
<body>
    <section class="teams" id="teams">
        <div class="max-width">
           
    
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                        <img src=".\images\bewakoof.png" alt="">
                        <div class="text">Bewakoof Clone</div>
                        <p>This website is a clone of “Bewakoof.com” and this was group project, which is an e-commerce
                            store & here we implemented some functionalities product sorting & filtering, add to cart,
                            coupon discount etc.<br><br>
    
                        <h4 style="color:red">Tech Stack:</h4> HTML, CSS, JavaScript</p>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 7px 14px; border-radius:6px; border: 2px solid brown; margin-left:-150px; margin-top:30px;"
                            href="https://github.com/abhinavBisht94/bewakoof-clone-u2" class="fa fa-github"> Github</a>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-right:-130px; margin-top:-35px;"
                            href="https://cheerful-tulumba-65764a.netlify.app/" class="fa fa-eye"> Netlify</a>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src=".\images\croma.png" alt="">
                        <div class="text">Croma Clone</div>
                        This website is a clone of “Croma.com” and this was group project, Croma was the first one-of-its
                        kind large format specialist retail store that catered to all multi-brand digital gadgets and home
                        electronic needs in India.<br><br>
                        <h4 style="color:red">Tech Stack:</h4>HTML, CSS, JavaScript</p>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 7px 14px; border-radius:6px; border: 2px solid brown; margin-left:-150px; margin-top:30px;"
                            href="https://github.com/abhinavBisht94/croma-clone-web16-u3" class="fa fa-github"> Github</a>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-right:-130px; margin-top:-35px;"
                            href="https://croma-clone.netlify.app/" class="fa fa-eye"> Netlify</a>
                    </div>
                </div>
    
    
    
                <div class="card">
                    <div class="box">
                        <img src=".\images\kimaye.png" alt="">
                        <div class="text">Kimaye Clone</div>
                        <p> This website is a clone of “Kimaye.com” and this was group project,Hassle free online fruit
                            ordering platform in Mumbai, Kimaye is a promise of consistently delivering the safest and
                            superior quality fruits.<br><br>
    
                        <h4 style="color:red">Tech Stack:</h4> React, CSS, JavaScript
                        </p>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 7px 14px; border-radius:6px; border: 2px solid brown; margin-left:-150px; margin-top:30px;"
                            href="https://github.com/DivyaBairwa/kimayeclone" class="fa fa-github"> Github</a>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-right:-130px; margin-top:-35px;"
                            href="https://kimaye007.netlify.app/Home" class="fa fa-eye"> Netlify</a>
                    </div>
                </div>
    
    
                <div class="card">
                    <div class="box">
                        <img src=".\images\tict.png" alt="">
                        <div class="text">Tic-Tac-Toe</div>
                        <p>"Tic-Tac-Toe" is a type game and i created this through react, The restart function calls
                            setBoard to clear the board. Then we have the isWinner function that checks if the player fills
                            in the board in a way that the player wins and start again.</p><br>
                        <h4 style="color:red">Tech Stack:</h4> React, CSS, JavaScript
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 7px 14px; border-radius:6px; border: 2px solid brown; margin-left:-150px; margin-top:30px;"
                            href="https://github.com/DivyaBairwa/React-101-UNIT-4-/tree/main/Sprint-1/Day4/tictactoe"
                            class="fa fa-github"> Github</a>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-right:-130px; margin-top:-35px;"
                            href="https://ubiquitous-beijinho-cd39f8.netlify.app/" class="fa fa-eye"> Netlify</a>
                    </div>
                </div>
    
    
                <div class="card">
                    <div class="box">
                        <img src=".\images\gtimer.png" alt="">
                        <div class="text">Google Timer</div>
                        <p>"Google Timer" is pretty much the king of the clock app. You can do things like set alarms, use
                            the stopwatch function, or set a timer. We like Google Clock specifically for this list because
                            you can set multiple timers.</p><br>
    
                        <h4 style="color:red">Tech Stack:</h4>React, CSS, JavaScript
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 7px 14px; border-radius:6px; border: 2px solid brown; margin-left:-150px; margin-top:30px;"
                            href="https://github.com/DivyaBairwa/React-101-UNIT-4-/tree/main/Sprint-2/Day3/gtimer"
                            class="fa fa-github"> Github</a>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-right:-130px; margin-top:-35px;"
                            href="https://willowy-biscotti-ce7af2.netlify.app/" class="fa fa-eye"> Netlify</a>
                    </div>
                </div>
    
    
                <div class="card">
                    <div class="box">
                        <img src=".\images\watch.png" alt="">
                        <div class="text">Digital Clock</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat repellat commodi nostrum
                            laudantium blanditiis, libero vitae, id, a eveniet velit magni repudiandae? Deserunt recusandae
                            sequi facere sed amet aut optio.</p><br>
                        <h4 style="color:red">Tech Stack:</h4>HTML, CSS, JavaScript</p>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-left:-150px; margin-top:30px;"
                            href="https://github.com/DivyaBairwa/-my_work_from_css/tree/main/watch" class="fa fa-github">
                            Github</a>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-right:-130px; margin-top:-35px;"
                            href="https://dainty-bublanina-575d0b.netlify.app/" class="fa fa-eye"> Netlify</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- team2 section -->
    
    <section class="teams" id="teams">
        <div class="max-width">
            <div class="carousel owl-carousel">
    
                <div class="card">
                    <div class="box">
                        <img src=".\images\card.png" alt="">
                        <div class="text">Folded Card</div>
                        <h4 style="color:red">Tech Stack:</h4>HTML, CSS, JavaScript</p>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-left:-150px; margin-top:30px;"
                            href="https://github.com/DivyaBairwa/-my_work_from_css/tree/main/watch" class="fa fa-github">
                            Github</a>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-right:-130px; margin-top:-35px;"
                            href="https://sweet-centaur-28fccd.netlify.app/" class="fa fa-eye"> Netlify</a>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src=".\images\earth.png" alt="">
                        <div class="text">3D Rotating Earth</div>
                        <h4 style="color:red">Tech Stack:</h4>HTML, CSS, JavaScript</p>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-left:-150px; margin-top:30px;"
                            href="https://github.com/DivyaBairwa/-my_work_from_css/tree/main/earth" class="fa fa-github">
                            Github</a>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-right:-130px; margin-top:-35px;"
                            href="https://darling-licorice-7878b7.netlify.app/" class="fa fa-eye"> Netlify</a>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src=".\images\waether.png" alt="">
                        <div class="text">Weather App</div>
                        <h4 style="color:red">Tech Stack:</h4>HTML, CSS, JavaScript</p>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-left:-150px; margin-top:30px;"
                            href="https://github.com/DivyaBairwa/Unit3-My-Projects/tree/main/UNIT3/Week%202/Day%204/10march/weather"
                            class="fa fa-github"> Github</a>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-right:-130px; margin-top:-35px;"
                            href="https://unruffled-wilson-3e9df5.netlify.app/" class="fa fa-eye"> Netlify</a>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src=".\images\movie.png" alt="">
                        <div class="text">Movie App</div>
                        <h4 style="color:red">Tech Stack:</h4>HTML, CSS, JavaScript</p>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 4px 14px; border-radius:6px; border: 2px solid brown; margin-left:-150px; margin-top:30px;"
                            href="https://github.com/DivyaBairwa/Unit3-My-Projects/tree/main/UNIT3/Week%202/Day%203/9March/OMBD%20(1)/OMBD/OMDB%20movie%20app%20III"
                            class="fa fa-github"> Github</a>
                        <a target="_blank"
                            style="display:inline-block; background-color:brown; color:white; font-size:15px; font-weight:500; padding: 8px 14px; border-radius:6px; border: 2px solid brown; margin-right:-130px; margin-top:-35px;"
                            href="https://cheerful-tulumba-65764a.netlify.app/" class="fa fa-eye"> Netlify</a>
                    </div>
                </div>
    
    
            </div>
        </div>
    </section>
</body>
</html>