.data-container {
    .project-div {
        display: flex;
        // marginLeft: '12%',
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;
        color: white;
        gap: 50px;
        font-size: 18px;
    }

    .project-data {
        margin-left: 6%;
        margin-top: 30px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-image {
    // height: 200px;
    width: 100%;
    height: 300px;
    
}
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: "Poppins", sans-serif;
// }

// body {
//     display: flex;
//     background: #000;
//     min-height: 100vh;
//     align-items: center;
//     justify-content: center;
// }

.content {
    position: relative;
    height:20px;
}

.content h2 {
    color: #fff;
    font-size: 4em;
    // padding-bottom:40px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
    color: transparent;
    // background-color: none;
    // box-shadow: rgba(57, 55, 55, 0.56) 0px 22px 70px 4px;
    -webkit-text-stroke: .5px #a8a4a4;
}

.content h2:nth-child(2) {
    color: #f59714;
    animation: animate 2s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}
// .paf{
//   height: 60px;
// }
.Santanu {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 20px;
    margin-bottom: 40px;
    padding: 12px;
    padding-bottom: 40px;
    width:350px;
    height:500px;
    background-color: rgb(33, 33, 33);
    color: #fff;
    &:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.06);
    }
}
.deploy {
    width: 90%;
    gap: 50px;
    // position: bottom;
    // justify-content: bottom;
    display:flex;
    margin-top: 20px;
    margin-left: 5%;
    box-shadow: rgba(142, 132, 132, 0.56) 0px 22px 70px 4px;

  
}
.github{
    width: 150px;
    height: 35px;
    border-radius: 3px;
        &:hover {
                -ms-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.05);
            }
    gap: 50px;
    box-shadow: rgba(251, 10, 10, 0.56) 0px 22px 70px 4px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: rgb(225, 45, 45)

}
.netlify{
    width: 150px;
    height: 35px;
    display: flex;
        &:hover {
                -ms-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.05);
            }
    border-radius: 3px;
    box-shadow: rgba(244, 242, 242, 0.56) 0px 22px 70px 4px;
    background-color: rgb(247, 241, 241);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}