html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  /* color: #444; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url("https://scontent.fpnq7-4.fna.fbcdn.net/v/t39.30808-6/285135447_1418950215235326_5560776010009448540_n.jpg?stp=dst-jpg_s960x960&_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_ohc=PI56SSyAOZMAX-t_J_X&tn=pnr8FJ-7lIBd05ma&_nc_ht=scontent.fpnq7-4.fna&oh=00_AT_a68b3WwTu3fRuEJr1fotmn5x0BlMHPXQRDOBkPGdYAw&oe=629DAD8C");
  
  display: block;
}
